html {
  font-size: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #dfdfdf;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden; }

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 1rem;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: #dfdfdf;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden; }

button {
  cursor: pointer; }

html, body, #root, #root > div {
  height: 100%;
  width: 100%; }

button:disabled {
  color: #a5afd7;
  cursor: not-allowed; }

.container-fluid {
  margin: 0;
  padding: 0; }

.navbar_img {
  height: 3.2rem;
  width: auto; }

.nav_megamenu {
  padding-left: 0.5rem;
  margin-top: 1.5rem; }

.nav_megamenu_item {
  margin-right: 2rem; }

.navbar_language {
  margin-left: 10rem;
  margin-top: -2.1rem;
  margin-right: 0.1rem;
  float: right !important; }

.input-group {
  align-items: baseline; }

.search {
  width: 19rem;
  margin-top: .5rem;
  margin-left: 1.2rem;
  margin-right: 0.5rem;
  border-radius: 8px !important; }

.navbar .dropdown-menu {
  margin-left: -0.6rem;
  z-index: 2001; }

.navbar-toggler {
  float: right !important; }

.nav_search_icon {
  z-index: 0;
  color: #aca0a0;
  font-size: 1.2rem; }

.nav_search_button {
  margin-left: -3rem;
  z-index: 2000;
  background: none;
  border: none;
  width: 1rem;
  padding: 0rem;
  padding-right: 2rem;
  padding-left: 1rem; }

.navbar_right {
  margin-left: -20rem;
  padding-right: 10rem; }

#nav_login_button {
  margin-top: -0.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2.4rem;
  margin-right: 2rem;
  width: 17.35rem;
  background-color: #07d3a9;
  border-radius: 8px !important;
  border: none;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.1rem; }

.col_margin {
  margin-right: -3rem; }

.dropdown_menu.dropdown_menu-right.show {
  text-align: center;
  z-index: 2001; }

.dropdown-toggle::after {
  color: grey; }

@media (min-width: 1440px) {
  #nav_login_button {
    width: 10rem;
    margin-top: -8rem;
    margin-left: 69.5rem;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .search {
    width: 15rem;
    margin-top: -3.5rem;
    margin-right: 0;
    margin-left: -1rem; }
  .navbar_language {
    margin-top: -2rem;
    margin-left: 158rem; }
  .col_margin {
    margin-right: 0rem;
    margin-top: -3rem; }
  .col_margin--input {
    margin-left: 55rem; }
  #kontakty {
    margin-left: 35rem; }
  .nav_megamenu {
    margin-top: -1.5rem; } }

@media (max-width: 1200px) and (min-width: 1024px) {
  .search {
    margin-top: -0.5rem; }
  #nav_login_button {
    margin-top: -1.7rem; } }

@media (max-width: 320px) and (min-width: 320px) {
  .search {
    margin-left: 0.2rem; }
  #nav_login_button {
    margin-left: 1rem; }
  .navbar_language {
    margin-right: 1rem; }
  .navbar-toggler {
    margin-right: 1rem; } }

@media (min-width: 568px) and (max-width: 568px) {
  .search {
    margin-left: 5rem; }
  #nav_login_button {
    margin-left: 10rem;
    width: 12rem; } }

@media (max-width: 763px) and (min-width: 667px) {
  .navbar_language {
    margin-top: -1rem; }
  .search {
    margin-left: 5rem; }
  #nav_login_button {
    margin-left: 10rem;
    width: 13rem; } }

@media (max-width: 812px) and (min-width: 812px) {
  .search {
    margin-left: 0rem; }
  #nav_login_button {
    margin-left: 0rem;
    width: 18rem; }
  .form-control.search {
    padding-right: 17rem; } }

@media (max-width: 1366px) and (min-width: 1366px) {
  #nav_login_button {
    width: 10rem;
    margin-top: -8rem;
    margin-left: 65rem;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .search {
    width: 15rem;
    margin-top: -3.5rem;
    margin-right: 0;
    margin-left: -1rem; }
  .navbar_language {
    margin-top: -2rem;
    margin-left: 140rem; }
  .col_margin {
    margin-right: 0rem;
    margin-top: -3rem; }
  .col_margin--input {
    margin-left: 50rem; }
  #kontakty {
    margin-left: 25rem; }
  .nav_megamenu {
    margin-top: -1.5rem; } }

#main {
  background: #00c6ff !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0072ff, #00c6ff) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90vh; }

#main--details {
  background-color: white !important; }

.jumbotron {
  background-color: transparent;
  color: white;
  box-shadow: none;
  border-radius: 0; }

.jumbotron-fluid {
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: linear-gradient(to bottom, #dfdfdf 70%, white 30%); }

.main_values {
  margin-top: 3rem; }

.display-3 {
  font-weight: 200;
  font-size: 2.5rem;
  margin-top: 6rem; }

#autocomplete {
  margin-top: 1rem; }

.p-autocomplete-panel {
  z-index: 2000;
  max-height: 100px; }

.p-autocomplete .p-autocomplete-input {
  padding: 0.7rem !important;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 60vw !important;
  padding-left: 10rem;
  padding-right: 10rem; }

.p-inputwrapper-focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 7px; }

.main_heading--details {
  margin-bottom: 2rem; }

.text-left {
  font-size: 1rem; }

.main_rightbox--details {
  margin-top: 4rem; }

.test::before {
  display: table;
  content: ""; }

.text-left {
  word-wrap: break-word; }

.main_heading_button--details {
  background: transparent;
  border: none; }

@media (min-width: 1440px) {
  .loader {
    margin-left: 29rem;
    margin-top: 1rem; }
  #main {
    height: 40vh; }
  .display-3 {
    font-weight: 200;
    font-size: 4.5rem;
    margin-top: 0rem; }
  .p-autocomplete .p-autocomplete-input {
    width: 30vw !important; }
  .p-autocomplete-panel {
    z-index: 2000;
    max-height: 200px; }
  .jumbotron-fluid {
    margin-left: -15rem;
    height: 50vh;
    width: 85vw;
    background: white !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dfdfdf 50%, white 50%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dfdfdf 50%, white 50%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .main_labels {
    margin-left: 6rem;
    line-height: 1.5;
    margin-right: 6rem; }
  .main_values {
    margin-left: 0rem;
    margin-top: 0;
    line-height: 1.5; }
  .main_leftbox--details {
    margin-right: 1rem; } }

@media (max-width: 800px) and (min-width: 768px) {
  #main {
    height: 50vh; }
  .display-3 {
    font-weight: 200;
    font-size: 4.5rem;
    margin-top: 0rem; }
  .jumbotron-fluid {
    background: white !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dfdfdf 60%, white 40%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dfdfdf 60%, white 40%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .main_leftbox--details {
    margin-right: -1rem;
    margin-left: -1rem; }
  .main_labels {
    margin-right: -1rem; }
  .text-left {
    word-wrap: break-all; } }

@media (max-width: 1200px) and (min-width: 1024px) {
  .jumbotron-fluid {
    background: linear-gradient(to right, #dfdfdf 50%, white 50%) !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dfdfdf 52%, white 48%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dfdfdf 52%, white 48%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .main_leftbox--details {
    margin-right: -2.25rem; }
  .text-left {
    word-wrap: break-word; } }

@media (max-width: 763px) and (min-width: 667px) {
  .jumbotron-fluid {
    background: -webkit-linear-gradient(to bottom, #dfdfdf 60%, white 40%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dfdfdf 60%, white 40%); }
  .display-3 {
    font-weight: 200;
    font-size: 2.5rem;
    margin-top: 0rem; } }

@media (max-width: 812px) and (min-width: 812px) {
  #main {
    height: 112vh; }
  .display-3 {
    font-weight: 200;
    font-size: 2.5rem;
    margin-top: 1rem; }
  .jumbotron-fluid {
    background: white !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dfdfdf 60%, white 40%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dfdfdf 60%, white 40%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ } }

@media (max-height: 1366px) and (min-height: 1366px) {
  #main {
    height: 40vh; } }

@media (max-width: 568px) and (min-width: 568px) {
  #main {
    height: 90vh; }
  .display-3 {
    font-weight: 200;
    margin-top: 1rem; } }

@media (max-width: 1366px) and (min-width: 1366px) {
  #main {
    height: 40vh; }
  .display-3 {
    font-weight: 200;
    font-size: 3rem;
    margin-top: 1rem; }
  .jumbotron-fluid {
    background: white !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dfdfdf 50%, white 50%) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dfdfdf 50%, white 50%) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .main_leftbox--details {
    margin-right: -10rem; }
  .col-xl-3 {
    flex: 0 0 35%;
    max-width: 35%; } }

#footer {
  height: 75vh;
  background-color: #dfdfdf;
  color: black;
  z-index: 0; }

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #5a5a5a;
  margin-left: 2.5rem; }

.footer__list {
  list-style-type: none; }

.footer__list > li > a {
  color: black;
  margin-left: -0.1rem;
  line-height: 1.6rem;
  word-wrap: break-word; }

.footer__list > li > a:hover {
  color: #0a80f1; }

.footer__section.important-footer-section .footer__heading {
  color: #0a80f1; }

.important {
  color: #0a80f1 !important; }

.important-link {
  color: #0a80f1 !important;
  text-decoration: underline; }

.footer_contact {
  margin-left: 2.5rem; }

@media (min-width: 1440px) {
  #footer {
    height: 15vh; } }
